body {
    font-family: sans-serif;
    background-color: #c9dff3;
    margin: 0;
    padding: 0;
    color: #333;
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: #4875e7;
}
p.welcome {
    text-align: center;
    margin-top: 20px;
    color: #ee325b;
}


a.logout {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 16px;
    background: #278ef6; /* Red */
    color: white;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
}

a.delete {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 16px;
    background: #e60000; /* Darker red */
    color: white;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
}

a.update {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 16px;
    background: #00cc4e; /* Blue */
    color: white;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
}
